@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}
#logo {
    display: inline-block;
    margin: 15px; /* margin: 20px was off */
    flex : left;
    height: 60px;
    width: auto; /* correct proportions to specified height */
    border-radius: 50%; /* makes it a circle */
  }


body {
    background-color: rgba(126, 15, 15, 0.269);
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    margin: 10;
    font-family: 'Lato', sans-serif;
    
}


.container {
    margin: 40px auto;
    width: 550px;
}

.head-panel{
    background-image : url("./images/img3.jpg") ; 
    background-color: rgb(232, 158, 62);
    
    width : 100% ;
    max-width : 1800px ;
    padding : 35px 35px ; 
    border-radius : 0px ;
    text-align : center ;
    text-transform : uppercase ; 
    display : flex ;
    flex-direction : column ;
    justify-content : space-around ;  
    transition : all 2.5s ;
}

.head-panel:hover{
    background-image: url(./images/img8.jpg);
    transform : translateY(0.20em) ;
}


.home__title-color {
    color : rgb(255, 0, 0) ;
}
.panel{
    
    /*background-image : url(./images/img5.webp); */
    background-color: rgba(184, 141, 141, 0.619);
    border-radius : 20px ;
    padding : 10px 15px ; 
    width : 100% ;
    max-width : 860px ;
    text-align : center ;
    text-transform : uppercase ;
    display : flex ;
    flex-direction : column ;
    justify-content : space-around ; 
    transition : all 3s ;
}
.panel:hover{
    background-color: rgb(66, 143, 164);;
    transform : translateY(0.40em) ;
    max-width : 1360px;
}

.home__title {
    font-size: 3rem ;
    color : black;
}

h1 {
    letter-spacing: 1px;
    margin: 0;
    transition : all 1.5s ;
}
 

h3 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 20px 0 10px;
    font-size : 30px;
}

h4 {
    margin: 0;
    text-transform: uppercase;
}

.inc-exp-container {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.inc-exp-container > div {
    flex: 1;
    text-align: center;
}

.inc-exp-container > div:first-of-type {
    border-right: 1px solid #dedede;
}

.money {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 5px 0;
}

.money.plus {
    color: #2ecc71;
}

.money.minus {
    color: red;
}

label {
    display: inline-block;
    margin: 10px 0;
}

input[type='text'],
input[type='number'] {
    border: 1px solid #dedede;
    border-radius: 2px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

 .btn {
    cursor: pointer;
    background-color: black;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 100%;
    transition : all 0.5s ;
}

  .btn:hover{
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
    border-color : white ;
    color : black ;
    transform : translateY(0.20em) ;
    background-color : rgb(231, 190, 190);
    border-radius: 10px;
  }

.btn:focus,
.delete-btn:focus {
    outline: 0;
}

.list {
    list-style: none;
    padding-left: 100px;
    padding-right:100px;
    margin-bottom: 40px;
}

.list li {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    color: #333;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
}

.list li.plus {
    border-right: 5px solid #2ecc71;
}

.list li.minus {
    border-right: 5px solid #c0392b;
}

.delete-btn {
    cursor: pointer;
    background-color: #e74c3c;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
    opacity: 1;
}

.stick{
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    background-color: rgb(255, 190, 190);
     border: 2px solid rgb(255, 190, 190); 
    max-width : 1000px;
    color : black;
    border-radius : 20px;
    padding : 10px;
    right : 20px;
} 

.label-one{
    font-size : 20px;
}

.label-two{
    font-size: 20px;
}

img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
}
